.wrapper-quantity {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.item-quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    margin: 0 10px;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}