.system-store{
    background-color: rgba(162, 27, 15, 0.98);
    color: #fff;
}

.shop_name{
    color: #000;
}

.system-content{
    width: 550px;
}

.btn-system{
    width: 200px;
    background-color: rgba(162, 27, 15, 0.98);
    border: 2px solid #ffff;
    color: #ffff;
    padding: 10px 20px;
    transition: all 0.5s ease-in;
}

.btn-system:hover{
    color: rgba(60, 242, 223, 0.8);
}

.video-system video {
    width: 500px;
    height: 200px;
    padding-top: 20px;
}